body{
background-color: black;
color: lightgray;
}

.header{
  margin-top: 25px;
  height: 100px;
}

.logoJW {
  position: relative;
  margin-left: 3%;
  float: left;
  width: 50px;
}

.back{
  width: 50px;
  height: 70px;
  float: right;
  margin-right: 5%;
  border: solid;
  border-color: gray;
  border-width: 2px;
  padding: 2px;
  cursor: pointer;
}
.back p{
text-align: center;
margin-top: 20%;
color: gray;
font-size: 30px;
text-decoration: none;
}

p{
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}
h2{
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 25px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 75vh;
  width: auto;
  max-width: 2000px;
}
.modal-content img{
  margin-top: 20px;
  margin-left: 25vw;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
   margin: auto;
   display: block;
   width: 100%;
   max-width: 700px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
}
#caption2 {
   margin: auto;
   display: block;
   width: 100%;
   max-width: 700px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
}
#caption3 {
   margin: auto;
   display: block;
   width: 100%;
   max-width: 700px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
}
#caption4 {
   margin: auto;
   display: block;
   width: 100%;
   max-width: 700px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
   animation-name: zoom;
   animation-duration: 0.6s;
}

@keyframes zoom {
   from {transform:scale(0)}
   to {transform:scale(1)}
}

/* The Close Button */
.close {
   position: absolute;
   top: 15px;
   right: 35px;
   color: #f1f1f1;
   font-size: 40px;
   font-weight: bold;
   transition: 0.3s;
}

.close:hover,
.close:focus {
   color: #bbb;
   text-decoration: none;
   cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 1080px){
   .modal-content {
      margin-top: 55px;
       width: 100%;
       height: auto;
   }
}

/*.........Yeshe030-ACSO.........*/
.imagecontainer video{
  height: auto;
  width: 50vw;
  max-width: 100%;
}

/*.........Roommatch.........*/


/*.........RunYupPie.........*/
.Box{
  display: flex;
}
.imagecontainer {
  flex: 1;
  width: 50vw;
  height: auto;
  margin: 10px;
}
.imagecontainer img{
  max-width: 100%;
  cursor: pointer;
}
.textcontainer{
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  width: 35vw;
  background-color: #1c1c1c;
  font-size: 18px;
  padding: 10px;
  padding-left: 15px;
  margin-top: 10px;
}
.foto{
  margin: 10px;
  margin-bottom: 20px;
  width: 35vw;
  float: right;
}
