* {
    box-sizing: border-box;
}

body {
    background-color: black;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}
p{
  margin-bottom: 0px;
}
h5{
  background-color: lightgray;
  color: #1c1c1c;
  padding: 3px;
  font-size: 9px;
  font-variant: small-caps;
  font-weight: bold;
  float: right;
  margin-top: 5px;
  letter-spacing: 1px;
}
a:link {
    color: lightgray;
    text-decoration: none;
}
a:visited {
    color: lightgray;
    text-decoration: none;
}
a:hover {
    color: lightgray;
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

/* Header */
.header{
  margin-top: 25px;
}

.logoJW {
  position: relative;
  margin-left: 3%;
  float: left;
  width: 50px;
}

.back{
  width: 50px;
  height: 70px;
  float: right;
  margin-right: 5%;
  border: solid;
  border-color: gray;
  border-width: 2px;
  padding: 2px;
}
.back p{
text-align: center;
margin-top: 20%;
color: gray;
font-size: 30px;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.grid {
    margin: 0px -16px;
}


/* Add padding BETWEEN each column (if you want) */
.grid,
.grid > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.grid:after {
    content: "";
    display: table;
    clear: both;
}


/* Content */
.content {
    background-color: #1c1c1c;
    padding: 10px;
    color: lightgray;
}
.content img{
    padding-bottom: 5px;
}
.content h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.content p{
    font-size: 14px;
}


/* The "show" class is added to the filtered elements */
.show {
    display: block;
}
#myBtnContainer{
  margin-top: 100px;
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  /*padding: 12px 16px;*/
  background-color: black;
  color: gray;
  cursor: pointer;
  font-size: 24px;
  font-variant: small-caps;
}

/* Add a dark grey background color to the active button */
.btn:hover, .active {
  color: white;
}


/*Rules for Mobile Devices*/
@media (max-width: 1080px) {

  .header{
    margin-top: 3px;
  }
  .logoJW {
    margin-left: 0px;
  }
  .back p{
  margin-right: 5px;
  }
  .column {
      float: Center;
      width: 100%;
  }

}
