body {
  font-family: 'Raleway', sans-serif;
  background-color: black;

}

h2 {
  /*font-family:;*/
  color: gray;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: auto;
}
/*.....OVERLAY NAVIGATION........*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    color: lightgray;
    display: block;
    transition: 0.3s;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-variant: small-caps;
    letter-spacing: 0.1em;
}

.overlay a:hover, .overlay a:focus {
    color: white;
}

.overlay .closebtn {
    position: absolute;
    top: 25px;
    right: 60px;
    font-size: 60px;
}

@media screen and (max-width: 1080px) {
  .overlay a {font-size: 30px}
  .overlay .closebtn {
    font-size: 40px;
    top: 5px;
    right: 10px;
  }
}
/*.....NAVIGATION HEAD........*/
#menu{
  float: right;
  margin-right: 5%;
  border: solid;
  border-color: gray;
  border-width: 2px;
  padding: 2px;
}
.menubar {
  width: 35px;
  height: 5px;
  background-color: gray;
  margin: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.header {
position: fixed;
margin-top: 7vh;
width: 100%;
display: block;
opacity: 0.5;
transition: opacity 0.5s;
z-index: 2;
}
.header:hover{
  opacity: 1;
}
.logoJW {
  position: relative;
  margin-left: 5%;
  float: left;
  width: 50px;
  z-index: 2000;
}
.logoJW path {
  fill: gray;
}
.logoJW path:hover{
  fill: white;
}

.Navi {
  margin-top: 0px;
  margin-bottom: 0px;
  float: right;
  margin-right: 5%;
  text-align:right;              /* Textausrichtung     */
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  z-index: 2000;
}

.header ul {
    list-style-type: none;
}
.header a:link {
    color: gray;
    text-decoration: none;
}
.header a:visited {
    color: gray;
    text-decoration: none;
}
.header a:hover {
    color: white;
    text-decoration: none;
}
.header a:active {
    text-decoration: none;
}

/*..........STARTVIDEO.........*/
.pagecontainervideo video {
  object-fit: cover;
 width:100%;
 height:100%;
}
.pagecontainervideo {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
  /* margin: 0 auto; */
  height: 100vh;
  /*background-color: blue;*/
}
.pagecontainer {
  text-align: left;
  padding-top: 5vh;
  height:100vh;
}

/*........Work.........*/
.pagecontainerwork {
  position: relative;
  /*z-index: -1;*/
  text-align: left;
  padding-top: 20vh;
  padding-bottom: 15vh;
  min-height: 100vh;
  height:100%;
}

.pagecontainerwork a{
height: 100%;
width: 100%;
}

.pagecontainerwork img{
  margin-bottom: 5px;
  margin-top: 0px;
}

.underlay{
  position: absolute;
  top: 20%;
  bottom: 25%;
  left: 100%;
  background-color: black;
  overflow: hidden;
  opacity: .95;
  width: 0;
  height: 50%;
  transition: .5s ease;
}

.work01:hover .underlay {
  width: 100%;
  left: 25%;
}
.work01:active .underlay {
  width: 100%;
  left: 25%;
}

.beschriftung{
  position: absolute;
  top: 25%;
  bottom: 30%;
  left: 10%;
}

.beschriftung h3{
  font-size: 20px;
  line-height: 50%;
  font-weight: bold;
  color: lightgray;

}

h4{
  vertical-align: middle;
  text-align: center;
  color: lightgray;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  font-size: 18px;
}

.beschriftung p{
  /*text-shadow: 0px 2px 2px black;*/
  color: lightgray;
}

.bildunterschrift{
  padding-left: 5px;
  color: lightgray;
}

.bildunterschrift h3{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
.bildunterschrift p{
  font-size: 14px;
  margin-bottom: 0px;
}

.work01{
  padding: 15px;
  margin-bottom: 30px;
  border: solid;
  border-color: #353535;
  border-width: 5px;
}

.work01 a:hover{
text-decoration: none;
}

.allworks{
  padding-top: 25px;
  height: 80px;
  width: auto;
  margin-top: 0px;
  margin-bottom: 15px;
  border-style: solid;
  border-color: #353535;
  border-width: 5px;
  border-radius: 0px;
}



/*........About Me Text.........*/
.pagecontainer p {
text-align: left;
padding-top: 25vh;
padding-left: 40vw;
padding-right: 33vw;
padding-bottom: 15vh;
font-size: 20px;
font-weight: 100;
color: lightgray;
min-height: 100vh;
height:100%;
}

/*..........Contact links........*/
.pagecontainercontact{
  padding-top: 30vh;
  height: 95vh;
}
.media {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
  padding-bottom: 5vh;
}
.media a{
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
  font-variant: small-caps;
  letter-spacing: 0.1em;
}

.media a:link {
    color: gray;
    text-decoration: none;
}
.media a:visited {
    color: gray;
    text-decoration: none;
}
.media a:hover {
    color: white;
    text-decoration: none;
}
.media a:active {
    text-decoration: none;
}

.footer{
  height: 5vh;
  text-align: center;
}


/*Rules for Mobile Devices*/
@media (max-width: 1080px) {
  .header {
  margin-top: 3vh;
  }

  /*....RESPONSIVE Work...*/
  .pagecontainerwork {
    padding-top: 20vh;

  }
  .pagecontainerwork img{
    margin-top: 0px;
  }

  .beschriftung{
    position: absolute;
    bottom: 20%;
    left: 10%;
  }

  .beschriftung h3{
    font-size: 20px;
  }

  .work01{
    margin-bottom: 15px;
  }

  .allworks{
    margin-top: 0px;
  }

  .work01:hover .underlay {
    left: 15%;
  }
  .bildunterschrift p{
    margin-bottom: 0px;
  }

  /*....RESPONSIVE About...*/
  .pagecontainer p {
  font-size: 24px;
  font-weight: 100;
  padding-top: 15vh;
  padding-left: 10vw;
  padding-right: 5vw;
  }

  /*....RESPONSIVE Contact links...*/
  .pagecontainercontact{
    align-items: center;
    padding-top: 22vh;
  }
  .media {
    padding-bottom: 8vh;
    padding-left: 8vw;
    padding-right: 5vw;
  }
  .media a{
    font-size: 30px;
  }

  /*....RESPONSIVE NAVIGATION...*/


@media (max-width: ) {

}
